<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @download.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @download.email %>
</p>

<p>
  <strong>Count:</strong>
  <%= @download.count %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @download.ip %>
</p>

<%= link_to 'Edit', edit_download_path(@download) %> |
<%= link_to 'Back', downloads_path %>
