
<%= form_for(@day, html: { class: "directUpload" }) do |f| %>
  <% if @day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@day.errors.count, "error") %> prohibited this day from being saved:</h2>

      <ul>
      <% @day.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :question1, placeholder: 'made you happy today?' %>
  </div>
  <div class="field">
    <%= f.text_area :question2, placeholder: "didn't like today?" %>
  </div>
  <div class="field">
    <%= f.text_area :question3, placeholder: "looking forward to tomorrow?" %>
  </div>
  <div class="field">
    <%= f.file_field :image, class: 'but' %>
  </div>
  <br>
<!--   <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <form id="myform">
        <input type="file" id="file" /> </br>
        <label>Camera Model</label>
        <input type="text" name="cameraModel" id="cameraModel" /> </br>

        <label>Aperture</label>
        <input type="text" name="aperture" id="aperture" /> </br>

      </form>
  <br>
  <br>
  <br> -->
  <div class="actions">
    <%= f.submit 'SAVE', class: 'button' %>
  </div>
<% end %>


<script type="text/javascript">

var someCallback = function(exifObject) {
            $('#cameraModel').val(exifObject.Model);
            $('#aperture').val(exifObject.FNumber);
            // Uncomment the line below to examine the
            // EXIF object in console to read other values
            console.log(exifObject);
        }
      try {
        $('#file').change(function() {
            $(this).fileExif(someCallback);
        });
      }
      catch (e) {
        alert(e);
      }

$(function() {
  $('.directUpload').find("input:file").each(function(i, elem) {
    var fileInput    = $(elem);
    var fileInput    = $(elem);
    console.log(fileInput);
    var form         = $(fileInput.parents('form:first'));
    var submitButton = form.find('input[type="submit"]');
    var progressBar  = $("<div class='bar'></div>");
    var barContainer = $("<div class='progress'></div>").append(progressBar);
    fileInput.after(barContainer);
    fileInput.fileupload({
      fileInput:       fileInput,
      url:             '<%= @s3_direct_post.url %>',
      type:            'POST',
      autoUpload:       true,
      formData:         <%= @s3_direct_post.fields.to_json.html_safe %>,
      paramName:        'file', // S3 does not like nested name fields i.e. name="user[avatar_url]"
      dataType:         'XML',  // S3 returns XML if success_action_status is set to 201
      replaceFileInput: false,
      progressall: function (e, data) {
        var progress = parseInt(data.loaded / data.total * 100, 10);
        progressBar.css('width', progress + '%')
      },
      start: function (e) {
        submitButton.prop('disabled', true);

        progressBar.
          css('background', 'green').
          css('display', 'block').
          css('width', '0%').
          text("Loading...");
      },
      done: function(e, data) {
        submitButton.prop('disabled', false);
        progressBar.text("Uploading done");

        // extract key and generate URL from response
        var key   = $(data.jqXHR.responseXML).find("Key").text();
        var url   = 'https://<%= @s3_direct_post.url.host %>/' + key;

        // create hidden field
        var input = $("<input />", { type:'hidden', name: fileInput.attr('name'), value: url })
        form.append(input);
      },
      fail: function(e, data) {
        submitButton.prop('disabled', false);

        progressBar.
          css("background", "red").
          text("Failed");
      }
    });
  });
});








</script>