
<%= form_for(@day, html: { class: "directUpload" }) do |f| %>
  <% if @day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@day.errors.count, "error") %> prohibited this day from being saved:</h2>

      <ul>
      <% @day.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :question1, placeholder: 'made you happy today?' %>
  </div>
  <div class="field">
    <%= f.text_area :question2, placeholder: "didn't like today?" %>
  </div>
  <div class="field">
    <%= f.text_area :question3, placeholder: "looking forward to tomorrow?" %>
  </div>
  <div class="field">
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
