<!DOCTYPE html>
<html>
<head>
     <title>Ever</title>
     <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
     <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
     <%= csrf_meta_tags %>
     <meta name="mobile-web-app-capable" content="yes">
     <meta name="apple-mobile-web-app-capable" content="yes" />
     <meta name="apple-mobile-web-app-status-bar-style" content="black">
     <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
     <link rel="apple-touch-icon" href="https://catchframedev.s3.amazonaws.com/uploads/7a2aaee6-fa48-42a0-9244-c24d99dd3f2b/icon.png"/>
</head>
<body>
<div id="container">
     <%= yield %>
     <br>
     <%= link_to "sign out ", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
</div>
<br>


<script type="text/javascript">
     
$(function(){
          
          // PAGINATION
          if ($('.pagination').length) {
               $(window).scroll(function() {
                    var url;
                    url = $('.pagination .next_page').attr('href');
                    if (url && $(window).scrollTop() > $(document).height() - $(window).height() - 450) {
                         $('.pagination').text("Getting more...");
                         return $.getScript(url);
                    }
               });
               return $(window).scroll();
          }
          // PAGINATION end

});


</script>

</body>
</html>
